.list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.placeholder {
  height: 240px;
  min-width: 200px;
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    margin-left: 5px;
  }
}

.chart-wrapper {
  background-color: #ffffff;
}
