<main>
  <div class="content">
      <div class="pokedex">
        <div class="filters-wrapper">
          <span>Filter by:</span>
          <div class="filters">
            @if((supertypes$ | async); as supertypes) {
              @if(supertypes.length) {
                <app-filter
                  [list]="supertypes"
                  type="supertype"
                  (filterData)="filterData($event)"
                  ></app-filter>
              }
            }
            @if((subtypes$ | async); as subtypes) {
              @if(subtypes.length) {
                <app-filter
                  [list]="subtypes"
                  type="subtype"
                  (filterData)="filterData($event)"
                  ></app-filter>
              }
            }
            @if((types$ | async); as types) {
              @if(types.length) {
                <app-filter
                  [list]="types"
                  type="type"
                  (filterData)="filterData($event)"
                  ></app-filter>
              }
            }
          </div>
        </div>
        @if(cards$ | async) {
          @if(cardsLoading$ | async) {
              loading...
          } @else {
            <div class="list-wrapper">
              <app-list></app-list>
            </div>
          }
        }
      </div>
  </div>
</main>
