[data-theme="light"] {
  --background-color: #ffffff;
  --font-color: #000000;
  --button-font-color: #005cbb;
}

[data-theme="dark"] {
  --background-color: #000000;
  --font-color: #ffffff;
  --button-font-color: #ffffff;
}
